<h2>Faça seu registro:</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
</div>


<div class="field">
    <%= f.label :documento %>
    <%= f.text_field :documento %>
</div>

<div class="field">
    <%= f.label :data_nascimento %>
    <%= f.date_select :data_nascimento %>
</div>

<div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
</div>

<div class="actions">
    <%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>