<div class="container form-box">
  <div class="row justify-content-center">
    <div class="col col-4 align-self-center">
      <h2>Login de vendedor</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, 'E-mail' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email@exemplo.com' %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Senha' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'senha' %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, 'Lembrar login' %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Entrar", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <%= render "comerciantes/shared/links" %>

      <div class="hr-divider hr-login-divider">
        <span class="hr-divider-text hr-login-text">
          Quer comprar?
        </span>
      </div>

      <div class="btn-center">
        <%= link_to "Login comprador", login_path, class: "btn btn-secondary btn-block" %>
      </div>

      <br><br>
    </div>
  </div>
</div>