<%= form_tag(area_admin_vendedores_path, method: :get) do %>
  <table style="width:100%">
    <tr>
      <td style="padding-right: 20px;width:50%;">
        <%= text_field_tag(:pesquisa, params[:pesquisa], class: 'form-control', placeholder: 'E-mail ou nome') %>
      </td>
      <td style="width:20%;">
        <%= submit_tag ("Pesquisar"), class: "btn btn-primary btn-block" %>
      </td>
    </tr>
    <tr>
      <td class='link_voltar'>
        <%= check_box_tag :active_only %>
        Mostrar apenas ativos <b>OU</b>
        <%= check_box_tag :not_active %>
        Mostrar apenas NÃO ativos
      </td>
      <td valign="top">
        <%= link_to "Limpar pesquisa", area_admin_vendedores_path(), class:'link_voltar' %>
      </td>
    </tr>
    <tr>

      <% if @pesquisa && !@pesquisa.empty? %>
        <td colspan="2" style="padding-top:10px;">
          Exibindo resultados da pesquisa por "<i><%= @pesquisa %></i>":
        </td>
      <% end %>
    </tr>
  </table>
  <% end %>
