<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- <title>vitrine</title> -->
    <%= stylesheet_link_tag 'welcome.scss' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href=""> <div>Cadastro</div> </a>
        <a href=""> <div>Login</div> </a>
    </nav>
    
    <section>
        <div>
            <h1 class="teste1">MarketPlace de Máscaras</h1>
            <p> este é um site para comércio de máscaras </p>
        </div>
    </section>
    
 <!-- Vitrine -->
    <div class="small-container">
        <h2 class="title"> Vitrine </h2>
        <div class="row">
            <div class="col-3">
                <%= image_tag("mascara1.jpg") %>
                <h4>Mascara 1</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>R$15.00</p>
            </div>
            <div class="col-3">
                <%= image_tag("mascara2.jpg") %>
                <h4>Mascara 2</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>R$10.00</p>
            </div>
            <div class="col-3">
                <%= image_tag("mascara3.jpg") %>
                <h4>Mascara 3</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>R$150.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <%= image_tag("alcoholGel1.jpg") %>
                <h4>Alcohol Gel 1</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>

                </div>
                <p>R$12.34</p>
            </div>
            <div class="col-3">
                <%= image_tag("alcoholGel2.jpg") %>
                <h4>Alcohol Gel 2</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>R$20.00</p>
            </div>
            <div class="col-3">
                <%= image_tag("alcoholGel3.jpg") %>
                <h4>Alcohol Gel 3</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>R$15.00</p>
            </div>
        </div>
    </div>
            
</body>
</html>
