<div class="container form-box dados-usuario-container">
  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">
      <%= render partial: "users/partials/admin_navbar" %>
      <br />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">
      <h4>Histórico de vendas</h4>

      <table class="table" style="font-size:14px;">
        <thead>
          <tr>
            <th scope="col" colspan="2">Produto</th>
            <th scope="col">Qtd</th>
            <th scope="col">Pedido N°</th>
            <th scope="col">Preço</th>
            <th scope="col">Vendedor</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <% product = get_product(order.product_id) %>
          <tr>
            <td>
              <% if product.foto.attached? %>
                  <img src="<%=(url_for(product.foto))%>" style="width:50px;">
                <% else %>
                  <i class="fas fa-image" style="font-size: 48px; color:#bfbfbf"></i>
                <% end %>
            </td>
            <td><%= link_to product.nome, product %></td>
            <td><%= order.quantidade %></td>
            <td><%= order.numero_pedido %></td>
            <td>R$ <%= "%.2f" % order.preco %></td>
            <td><%= product.comerciante.nome %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
