<div class="container form-box dados-usuario-container">
  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">
      <%= render partial: "comerciantes/partials/navbar" %>
      <br />
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom:20px;">
    <div class="col col-8 align-self-center">
      <h4>Pedidos</h4>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom:20px;">
    <div class="col col-8 align-self-center">
      <%= render partial: "orders/partials/vendedor_search" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">
      <table class="table" style="font-size:14px;">
        <thead>
          <tr>
            <th scope="col" colspan="2">Produto</th>
            <th scope="col">Qtd</th>
            <th scope="col">Pedido N°</th>
            <th scope="col">Preço</th>
            <th scope="col">Feito em</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <% if order.product.foto.attached? %>
                  <img src="<%=(url_for(order.product.foto))%>" style="width:50px;">
                <% else %>
                  <i class="fas fa-image" style="font-size: 48px; color:#bfbfbf"></i>
                <% end %>
            </td>
            <td><%= link_to order.product.nome, order.product %></td>
            <td><%= order.quantidade %></td>
            <td>
              <%= link_to order.numero_pedido, vendedor_pedido_path(numero_pedido: order.numero_pedido) %>
            </td>
            <td>R$ <%= "%.2f" % order.preco %></td>
            <td><%= order.created_at %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>