<strong><h4 style="color:red">Área do administrador</h4></strong>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <% if request.env['PATH_INFO'].include?("area-admin/usuarios") %>
      <span class="nav-link active">Usuários/Clientes</span>
    <% else %>
      <%= link_to area_admin_usuarios_path, class:"nav-link" do %>
        Usuários/Clientes
      <% end %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if request.env['PATH_INFO'].include?("/area-admin/vendedores") %>
    <span class="nav-link active">Vendedores</span>
    <% else %>
      <%= link_to area_admin_vendedores_path, class:"nav-link" do %>
        Vendedores
      <% end %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if request.env['PATH_INFO'].include?("/area-admin/categorias") %>
      <span class="nav-link active">Categorias</span>
    <% else %>
      <%= link_to area_admin_categorias_path, class: "nav-link" do %>  
        Categorias
      <% end %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if request.env['PATH_INFO'] == "/area-admin/historico-de-vendas" %>
      <span class="nav-link active">Histórico de Vendas</span>
    <% else %>
      <%= link_to "Histórico de Vendas", area_admin_historico_de_vendas_path, class:"nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if request.env['PATH_INFO'] == "/area-admin/produtos" %>
      <span class="nav-link active">Produtos</span>
    <% else %>
      <%= link_to "Produtos", area_admin_produtos_path, class:"nav-link" %>
    <% end %>

  </li>
</ul>