<div class="row justify-content-center">
  <div class="col col-6 align-self-left">
    <%= form_with(model: product, local: true) do |form| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :nome, 'Nome', class: 'form-text' %>
        <%= form.text_field :nome, autofocus: true, class: 'form-control', placeholder: 'Nome do produto', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :descricao, 'Descrição', class: 'form-text' %>
        <%= form.text_area :descricao, class: "form-control", required: true %>
      </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-3 align-self-left">
    <div class="form-group">
      <%= form.label :category_id, 'Categoria', class: 'form-text' %>
      <%= form.select :category_id, {}, {prompt: "Selecione a categoria"}, {class: "form-control", required: true} do %>
        <% @categories.each do |c| %>
          <%= content_tag(:option, c.nome, value: c.id) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col col-3 align-self-left">
      <div class="form-group">
        <%= form.label :quantidade, class: 'form-text' %>
        <%= form.number_field :quantidade, class: "form-control", min: 0, step: 1, required: true %>
      </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-3 align-self-left">
      <div class="form-group">
        <%= form.label :preco, "Preço", class: 'form-text' %>
        <%#= form.number_field :preco, class: 'form-control', min: 1.00, step: 0.01, value: number_to_currency(form.object.preco.to_f, delimiter: '', separator: '.', precision: '2', unit: 'R$'), required: true %>
        <%= form.number_field :preco, class: 'form-control', min: 1.00, step: 0.01, value: @product.preco ? '%.2f' % @product.preco : nil, required: true %>
      </div>
  </div>

  <div class="col col-3 align-self-left">
      <div class="form-group">
        <%= form.label :foto, class: 'form-text' %>
        <%= form.file_field :foto, class: 'form-control' %>
      </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-6 align-self-left">
      <div class="actions">
        <%= form.hidden_field :comerciante_id, value: current_comerciante.id %>
        <%= form.submit "Salvar", class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
<br><br>