<div class="container form-box dados-usuario-container">
  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">
      <%= render partial: "users/partials/admin_navbar" %>
      <br />
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom:20px;">
    <div class="col col-8 align-self-center">
      <h4>Meus produtos</h4>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom:20px;">
    <div class="col col-8 align-self-center">

      <table class="table" style="font-size:14px;">
        <thead>
          <tr>
            <th scope="col">Imagem</th>
            <th scope="col">Nome</th>
            <th scope="col">Qtd</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col">Vendedor</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td>
                <% if product.foto.attached? %>
                  <img src="<%=(url_for(product.foto))%>" style="width:50px;">
                <% else %>
                  <i class="fas fa-image" style="font-size: 48px; color:#bfbfbf"></i>
                <% end %>
              </td>
              <td><%= link_to product.nome, product %></td>
              <td><%= product.quantidade %></td>
              <td><%= product.preco %></td>
              <td><%= product.category.nome %></td>
              <td><%= product.comerciante.nome %></td>
              <td>Acompanhar Vendas</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>