<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.nome %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @product.descricao %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @product.quantidade %>
</p>

<p>
  <strong>preco:</strong>
  <%= @product.preco %>
</p>

<p>
  <strong>Comerciante:</strong>
  <%= @product.comerciante.nome %>
</p>

<p>
  <strong>Foto:</strong>
  <% if @product.foto.attached? %>
  <img src="<%=(url_for(@product.foto))%>">
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
