<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-link mr-sm-2">
      <h2><%= link_to "SóMáscaras", :root, class: "site-name" %></h2>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:10px;">
        Categorias
      </a>
      <% fetch_categories() %>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <% @categories_header.each do |cat| %>
          <a class="dropdown-item" href="#"><%= cat.nome %></a>
        <% end %>
        <a class="dropdown-item" href="#">Todas</a>
      </div>
      </li>
  </ul>
  <ul class="navbar-nav ml-auto" style="margin-right:80px">
    <% if user_signed_in? %>
      <li class="nav-item">
      <%= link_to meu_carrinho_path(), class: 'nav-link' do %>
          <i class="fas fa-shopping-cart fa-sm mx-2"></i>
          Carrinho
          (<%= qtd_carrinho %>)
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Minha conta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to dados_cadastrais_path() , class: "dropdown-item" do %>
            <i class="fas fa-user-cog fa-sm mx-2"></i>
            Configurações
          <% end %>
          <%= link_to meus_pedidos_path, class:"dropdown-item" do %>
            <i class="fas fa-box-open fa-sm mx-2"></i>
            Meus pedidos
          <% end %>
          <%= link_to destroy_user_session_path, :method => :delete, class: "dropdown-item" do %>
            <i class="fas fa-sign-out-alt fa-sm mx-2"></i> Sair
          <% end %>

          <% if current_user.is_admin%>
            <%= link_to area_admin_usuarios_path, class: "dropdown-item" do %>
              <i class="fas fa-lock fa-sm mx-2"></i>
              Área do Admin
            <% end %>
          <% end %>
        </div>
      </li>

    <% elsif comerciante_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Minha conta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to vendedor_dados_cadastrais_path() , class: "dropdown-item" do %>
            <i class="fas fa-user-cog fa-sm mx-2"></i>
            Configurações
          <% end %>
          <%= link_to vendedor_meus_produtos_path, class: "dropdown-item" do %>
            <i class="fas fa-box-open fa-sm mx-2"></i>
            Meus produtos
          <% end %>
          <%= link_to destroy_user_session_path, :method => :delete, class: "dropdown-item" do %>
            <i class="fas fa-sign-out-alt fa-sm mx-2"></i> Sair
          <% end %>
        </div>
      </li>

    <% else %>
      <li class="nav-item">
        <a class="nav-link carrinho" href="#">
          <i class="fas fa-shopping-cart fa-sm mx-2"></i>
          Carrinho
        </a>
      </li>
      <li class="nav-link">
        <button class="btn btn-sm btn-outline-light login" type="button">
          <%= link_to "Login", :login, class: "login" %>
        </button>
      </li>
    <% end %>
  </ul>
</nav>
